<ul class="list-unstyled">
  
<% fishs.each do |fish| %>

    <li class="media mb-3">
      <img class="mr-2 rounded" src="
<%= gravatar_url(fish.user, { size: 50 }) %>
" alt="">
      <div class="media-body">
        <div>
          
<%= link_to fish.user.name, user_path(fish.user) %>
 <span class="text-muted">posted at 
<%= fish.created_at %>
</span>
        </div>
        <div>
          <p>
<%= fish.day %>
</p>
        </div>
        <div>
          <p>
<%= fish.address %>
</p>
        </div>
        <div>
          <p>
<%= fish.number %>
</p>
        </div>
        <div>
          <p>
<%= fish.tackle %>
</p>
        </div>
        <div>
          <p>
<%= fish.kind %>
</p>
        </div>
        <div>
          
<% if current_user == fish.user %>

            
<%= link_to "Delete", fish, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>

          
<% end %>

        </div>
      </div>
    </li>
  
<% end %>

  
<%= paginate fishs %>

</ul>