<%= form_with( model: @fish, url: fishs_path, local: true) do |f| %>


        <div class="form-group">
            
<%= f.label :day, "Day" %>
          
<%= f.date_select :day, class: 'form-control date-picker', rows: 5 %>

        </div>
        
        <div class="form-group">
        
<%= f.label :address, "Area" %>
          
<%= f.select :address, [["すそのフィッシングパーク", "すそのフィッシングパーク"], ["東山湖フィッシングエリア", "東山湖フィッシングエリア"], ["フィッシングポイント　ベリーズ", "フィッシングポイント　ベリーズ"]], include_blank: "Please select.", class: 'form-control', rows: 5  %>

        </div>
        
        <div class="form-group">
            
<%= f.label :number, "Number" %>
          
<%= f.number_field :number, class: 'form-control hoge', min: 0, max: 200, rows: 5 %>

        </div>
        
        <div class="form-group">
            
<%= f.label :tackle, "Tackle" %>
          
<%= f.text_area :tackle, class: 'form-control', rows: 5 %>

        </div>
        
        <div class="form-group">
            
<%= f.label :kind, "Kind" %>
          
<%= f.text_field :kind, class: 'form-control', rows: 5 %>

        </div>
        
<%= f.submit 'Post', class: 'btn btn-primary btn-block' %>

      
<% end %>